.main-display {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 500px;
  margin: 0 auto;
  width: 80%;
}

.main-image-view {
  border: 2px solid black;
  box-sizing: border-box;
}

.image-selection-menu {
  border: 2px solid black;
  box-sizing: border;
  padding: 20px;
}

.collection-title {
  margin-top: 0;
}

.collection-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.example-image {
  background-color: black;
  height: 100px;
}

.search-form {
  display: flex;
  height: 50px;
  margin: 20px auto 0;
  width: 80%;
}

.search-input {
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.search-submit-btn {
  border: 2px solid black;
  box-sizing: border-box;
  height: 100%;
  margin-left: 20px;
  width: 80px;
}